<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de Cliente</title>

     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>
<body>
    <div class="container">
        <h1>Ingreso de Clientes</h1>
        <form action="../php/input/clientInput.php" method="post">
            <div class="container">
                <label  for="name">Nombre</label>
                <input placeholder="Introduzca su nombre"class="form-control" type="text" name="name" id="name">
            </div>

            <div class="container">
                <label for="doc">Documento</label>
                <input class="form-control" type="text" name="doc" id="doc">
            </div>

            <!-- <div class="container">
                <label for="type">Tipo de cliente:</label>
                <div>
                    <input type="radio" name="type" id="external" value="external">
                    <label for="radio_external">Externo</label>
                </div>

                <div>
                    <input  type="radio" name="type" id="internal" value="internal">
                    <label for="radio_internal">Interno</label>
                </div>
                
            </div> -->

            <div class="container">
                <label for="address">Direccion</label>
                <input class="form-control" type="text" name="address" id="address">
            </div>
            <div class="container">
                <input class="btn btn-primary btn-block" type="submit" value="Confirmar">
            </div>
        </form>
    </div>
         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" rel="stylesheet"></script>
</body>
</html>