<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear orden de trabajo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>

<body>
    <div class="container">
        <h1>Nueva orden de trabajo</h1>
        <form action="../php/input/workInput.php" method="post" class="form">
            <div class="form-group">
                <label for="document">Documento del cliente</label>
                <input type="text" class="form-control" required name="doc" id="doc">
            </div>

            <div>
                <label for="type">Tipo de cliente:</label>
                <div>
                    <input type="radio" name="type" id="external" value="x">
                    <label for="radio_external">Externo</label>
                </div>

                <div>
                    <input type="radio" name="type" id="internal" value="i">
                    <label for="radio_internal">Interno</label>
                </div>

            </div>

            <div class="form-group">
                <label for="checkingEmbroidery">¿Hay bordado(s)?</label>

                <div>
                    <label class="radio-inline" for="radio_true"><input type="radio" name="embroidery" id="true"
                            value="true" onclick="changeVisibility(0, true)">Si</label>

                    <label class="radio-inline" for="radio_false"> <input type="radio" name="embroidery" id="false"
                            checked="true" value="false" onclick="changeVisibility(0, false)">No</label>
                </div>
            </div>

            <div class="showDiv showDiv0">
                <label for="clothQty">¿Cuántas prendas a bordar?</label>
                <div>
                    <input type="number" class="form-control" min="0" name="embClothQty" id="embClothQty">
                </div>

                <label for="embXCloth">¿Cuántos bordados por cada prenda?</label>
                <div>
                    <input type="number" class="form-control" min="0" name="embXCloth" id="embXCloth">
                </div>

                <div>
                    <div>
                        <label for="">¿Lleva bordado en espalda?</label>
                        <div>
                            <label class="radio-inline" for=""><input type="radio" name="back" id="backTrue"
                                    value="true" onclick="changeVisibility(1, true)">Si</label>

                            <label class="radio-inline" for=""><input type="radio" checked="true" name="back"
                                    id="backFalse" value="false" onclick="changeVisibility(1, false)">No</label>

                        </div>
                        <div class="showDiv showDiv1">
                            <label for="">¿Cuántos?</label>
                            <div>
                                <input type="number" name="backEmbQty" id="backEmbQty">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label for="description">Descripción del trabajo</label>
                <div>
                    <textarea class="form-control" name="description" id="desc" cols="30" rows="10" required
                        placeholder="Ingrese una descripción del trabajo. Ej: Confeccion de 10 camisas columbia, cada una con 2 bordados, en ambos pectorales."></textarea>
                </div>
            </div>
            <input type="submit" class="btn btn-block btn-primary" value="Confirmar">
        </form>
    </div>

    <script src="../js/script.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" rel="stylesheet"></script>
</body>

</html>